<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platon.statistic.dao.mapper.StaSignMapper">
  <resultMap id="BaseResultMap" type="com.platon.statistic.dao.entity.StaSign">
    <result column="node_id" jdbcType="VARCHAR" property="nodeId" />
    <result column="sign_number" jdbcType="INTEGER" property="signNumber" />
    <result column="staking_node_numgber" jdbcType="INTEGER" property="stakingNodeNumgber" />
    <result column="con_number" jdbcType="INTEGER" property="conNumber" />
    <result column="block_number" jdbcType="BIGINT" property="blockNumber" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    node_id, sign_number, staking_node_numgber, con_number, block_number, create_time, 
    update_time
  </sql>
  <select id="selectByExample" parameterType="com.platon.statistic.dao.entity.StaSignExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sta_sign
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.platon.statistic.dao.entity.StaSignExample">
    delete from sta_sign
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.platon.statistic.dao.entity.StaSign">
    insert into sta_sign (node_id, sign_number, staking_node_numgber, 
      con_number, block_number, create_time, 
      update_time)
    values (#{nodeId,jdbcType=VARCHAR}, #{signNumber,jdbcType=INTEGER}, #{stakingNodeNumgber,jdbcType=INTEGER}, 
      #{conNumber,jdbcType=INTEGER}, #{blockNumber,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.platon.statistic.dao.entity.StaSign">
    insert into sta_sign
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="nodeId != null">
        node_id,
      </if>
      <if test="signNumber != null">
        sign_number,
      </if>
      <if test="stakingNodeNumgber != null">
        staking_node_numgber,
      </if>
      <if test="conNumber != null">
        con_number,
      </if>
      <if test="blockNumber != null">
        block_number,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="nodeId != null">
        #{nodeId,jdbcType=VARCHAR},
      </if>
      <if test="signNumber != null">
        #{signNumber,jdbcType=INTEGER},
      </if>
      <if test="stakingNodeNumgber != null">
        #{stakingNodeNumgber,jdbcType=INTEGER},
      </if>
      <if test="conNumber != null">
        #{conNumber,jdbcType=INTEGER},
      </if>
      <if test="blockNumber != null">
        #{blockNumber,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.platon.statistic.dao.entity.StaSignExample" resultType="java.lang.Long">
    select count(*) from sta_sign
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update sta_sign
    <set>
      <if test="record.nodeId != null">
        node_id = #{record.nodeId,jdbcType=VARCHAR},
      </if>
      <if test="record.signNumber != null">
        sign_number = #{record.signNumber,jdbcType=INTEGER},
      </if>
      <if test="record.stakingNodeNumgber != null">
        staking_node_numgber = #{record.stakingNodeNumgber,jdbcType=INTEGER},
      </if>
      <if test="record.conNumber != null">
        con_number = #{record.conNumber,jdbcType=INTEGER},
      </if>
      <if test="record.blockNumber != null">
        block_number = #{record.blockNumber,jdbcType=BIGINT},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update sta_sign
    set node_id = #{record.nodeId,jdbcType=VARCHAR},
      sign_number = #{record.signNumber,jdbcType=INTEGER},
      staking_node_numgber = #{record.stakingNodeNumgber,jdbcType=INTEGER},
      con_number = #{record.conNumber,jdbcType=INTEGER},
      block_number = #{record.blockNumber,jdbcType=BIGINT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <insert id="batchInsert" parameterType="map">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      @project https://github.com/itfsw/mybatis-generator-plugin
    -->
    insert into sta_sign
    (node_id, sign_number, staking_node_numgber, con_number, block_number, create_time, 
      update_time)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.nodeId,jdbcType=VARCHAR}, #{item.signNumber,jdbcType=INTEGER}, #{item.stakingNodeNumgber,jdbcType=INTEGER}, 
        #{item.conNumber,jdbcType=INTEGER}, #{item.blockNumber,jdbcType=BIGINT}, #{item.createTime,jdbcType=TIMESTAMP}, 
        #{item.updateTime,jdbcType=TIMESTAMP})
    </foreach>
  </insert>
  <insert id="batchInsertSelective" parameterType="map">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      @project https://github.com/itfsw/mybatis-generator-plugin
    -->
    insert into sta_sign (
    <foreach collection="selective" item="column" separator=",">
      ${column.escapedColumnName}
    </foreach>
    )
    values
    <foreach collection="list" item="item" separator=",">
      (
      <foreach collection="selective" item="column" separator=",">
        <if test="'node_id'.toString() == column.value">
          #{item.nodeId,jdbcType=VARCHAR}
        </if>
        <if test="'sign_number'.toString() == column.value">
          #{item.signNumber,jdbcType=INTEGER}
        </if>
        <if test="'staking_node_numgber'.toString() == column.value">
          #{item.stakingNodeNumgber,jdbcType=INTEGER}
        </if>
        <if test="'con_number'.toString() == column.value">
          #{item.conNumber,jdbcType=INTEGER}
        </if>
        <if test="'block_number'.toString() == column.value">
          #{item.blockNumber,jdbcType=BIGINT}
        </if>
        <if test="'create_time'.toString() == column.value">
          #{item.createTime,jdbcType=TIMESTAMP}
        </if>
        <if test="'update_time'.toString() == column.value">
          #{item.updateTime,jdbcType=TIMESTAMP}
        </if>
      </foreach>
      )
    </foreach>
  </insert>
</mapper>